[submodule "gnn-model-explainer"]
	path = gnn-model-explainer
	url = https://github.com/RexYing/gnn-model-explainer.git
[submodule "pytorch_geometric"]
	path = pytorch_geometric
	url = https://github.com/pyg-team/pytorch_geometric.git
